<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"> 
    <title>FlaskBlogGuillaume</title>
</head>
<body>
    <h1>Histoire</h1>
    <p id="histoire">Cliquez sur le bouton pour obtenir une nouvelle histoire.</p>
    <button id="bouton-histoire">Obtenir une histoire</button>

    <script src="javascript.js"></script>
</body>
</html>
